
- name: Add key for archive.opinsys.fi
  apt_key:
    data="{{ lookup('file', 'opinsys-archive.key') }}"
    state=present

- name: Add archive.opinsys.fi/puavo
  apt_repository:
    repo='deb http://{{ archive_server }}/puavo/ {{ ansible_lsb.codename }} main'
    state=present
    update_cache=yes

- name: Add higher priority for puavo-os packages in archive.opinsys.fi
  template:
    src=etc/apt/preferences.d/00-puavo.pref
    dest=/etc/apt/preferences.d/00-puavo.pref

- name: Install development tools
  apt:
    pkg:
      - bash-completion
      - build-essential
      - curl
      - git
      - inotify-tools
      - locales
      - sudo
      - tmux
      - vim-nox
      - wget
    state: present
    force: yes
