{
    "port": 3002,
    "managerOrganisationDomain": "hogwarts.opinsys.net",
    "domain": "{{ hostname_command["stdout"] }}",
    "sessionSecret": "secret",
    "emailJobSecret": "secret",
    "emailReplyDomain": "opinsys.net",
    "mailGunSecret": "secret",
    "forwardTicketsEmail": "dummy@opinsys.net",
    "puavo": {
        "sharedSecret": "secret",
        "restServerAddress": "http://{{ hostname_command["stdout"] }}:{{ puavo_rest_port }}",
        "username":"uid=puavo-ticket,o=puavo",
        "password":"password"
    }
}
